<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<title>James Yoon</title>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About me<span class="sr-only">(current)</span></a></li>
      </ul>
</nav>
</div>
<style>
div.about {
    margin: 0 50px 0 50px;
}
</style>
  <br/>
  <div class="about">
  <p>
    <h3>Projects</h3><br>
    <h4>Minesweeper</h4><br>
    - Implemented a minesweeper game using Python<br>
    - Learned how to effectively design program by organizing and classifying functions that have different purposes<br>
    - Sufficient use of graphics which reflects on user input<br>
    - <a href="https://github.com/jw4yoon/minesweeper"> https://github.com/jw4yoon/minesweeper</a><br><br>
    <h4>Unity-Verse</h4><br>
    - Proposed an interactive social mobile app where students communicate and share their university experiences<br>
    - Constructed iOS interface with other group members<br>
  </p>
</div>
  </div>
</body>
</html>
